* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #020312;
  --text-color: #fff;
  --main-color: #3c5bb9;
  --second-color: gray;
  --other-color: #12141c;
  --h1-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 22px 16%;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
}
.logo {
  display: none;
}

.navbar {
  display: flex;
}
.navbar a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
.navbar a:hover {
  background: var(--main-color);
  color: var(--text-color);
}

section {
  padding: 160px 16% 90px;
}
.home {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text h1 {
  margin: 20px 0;
  font-size: var(--h1-font);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
}
span {
  color: var(--main-color);
}
.home-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}
.home-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3rem;
}
.btn {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--text-color);
  transition: all 0.4s ease;
}
.btn:hover {
  background: transparent;
  border-inline: 1px solid var(--main-color);
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
header.sticky {
  padding: 10px 16%;
  background: var(--bg-color);
  border-bottom: 1px solid #0e1630;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.about-text h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}
.about-text h2 {
  font-size: var(--h2-font);
}
.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}
.about-gri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.about-in h5 {
  font-size: 22px;
  font-weight: 600;
}
.about-img {
  display: flex;
  justify-content: center;
  position: relative;
}

.about-img img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 460px;
  border-radius: 20%;
  filter: drop-shadow(none);
}

.about img:hover {
  filter: drop-shadow(6px 6px 10px var(--main-color));
}

.main-text {
  text-align: center;
}
.main-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
}
.main-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem;
}
.box {
  padding: 45px;
  background: #12141c;
  border-top: 5px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
  cursor: pointer;
}
.box h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0;
  transition: all 0.4s ease;
}
.box p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
}
.box:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--main-color);
}
.box:hover h3 {
  color: var(--main-color);
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.row img {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  object-fit: contain;
}
.row {
  padding: 25px;
  background: #12141c;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.row h3 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}

.row:hover {
  h3 {
    color: var(--main-color);
  }
}
.row h6 {
  font-size: 16px;
  font-weight: 700;
}
.row-icon i {
  font-size: 21px;
}
.row:hover {
  transform: scale(1.01) translateY(-5px);
  cursor: pointer;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 3rem;
}
.contact-text h4 {
  margin: 15px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}
.contact-text h2 {
  font-size: var(--h2-font);
}
.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list li a {
  display: block;
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--main-color);
}
.contact-icons i {
  height: 40px;
  width: 40px;
  background: #12141c;
  border-radius: 0.5rem;
  color: var(--main-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 10px;
  transition: all 0.4s ease;
}
.contact-icons i:hover {
  transform: scale(1.01) translateY(-5px);
  color: var(--text-color);
  background: var(--main-color);
}

.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  background: #12141c;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--text-color);
  width: 190px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.contact-form form .send:hover {
  background: transparent;
  border-inline: 1px solid var(--main-color);
}

.last-text p {
  text-align: center;
  padding: 15px;
  color: var(--second-color);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}
.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--text-color);
  background: var(--main-color);
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  transition: all 0.4s ease;
}

.top:hover {
  background: transparent;
  border-inline: 1px solid var(--main-color);
}

@media (max-width: 1325px) {
  header {
    padding: 16px 3%;
  }
  header.sticky {
    padding: 8px 3%;
  }
  section {
    padding: 130px 3% 60px;
  }
}

@media (max-width: 970px) {
  :root {
    --h1-font: 4.2rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
  }
  section {
    padding: 70px 3% 60px;
  }
  .home {
    height: 85vh;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
  }
  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 830px) {
  .navbar {
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #12141c;
    text-align: left;
    transition: all 0.4s ease;
  }
  .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }
  .navbar.active {
    top: 100%;
  }
  :root {
    --h1-font: 3.7rem;
    --h2-font: 2.7rem;
  }
}

#experience {
  padding: 4rem 5rem;
}

.experience-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
  column-gap: 1rem;
}

.experience-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
  background-color: #12141c;
  border-radius: 1rem;
  row-gap: 2rem;
  transition: 0.4s all ease;
  cursor: pointer;
}

.experience-item:hover {
  transform: scale(1.01) translateY(-5px);
  border-top: 5px solid var(--main-color);
}

.experience-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-primary);
}

.experience-item:hover h2 {
  color: var(--main-color);
}

.experience-item-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  padding: 1rem 0;
  row-gap: 3rem;
}

/* ================== MEDIA QUERY =================== */
@media screen and (min-width: 830px) {
  .menu-toggle {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  header {
    justify-content: center;
  }
  .experience-item {
    width: calc(50% - 1rem);
  }

  .experience-item-container {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    row-gap: 0.9rem;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .experience-container {
    flex-direction: column;
    row-gap: 1rem;
  }

  .experience-item-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    row-gap: 0.9rem;
  }

  .experience-item {
    width: 100%;
    padding: 1rem 0;
  }
}

@media (max-width: 830px) {
  header {
    justify-content: flex-start;
    gap: 0.5rem;
  }
  .hi {
    display: none;
  }

  .menu-toggle {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: var(--text-color);
    background: var(--main-color);
    border: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
  }
  .menu-toggle:hover {
    background: transparent;
    border-inline: 1px solid var(--main-color);
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  .mobile-menu.open {
    display: block;
    width: clamp(290px, 95%, 750px);
    animation: slideDown 1s ease forwards;
  }
  .mobile-menu.closed {
    display: block;
    width: clamp(290px, 95%, 750px);
    animation: slideUp 1s ease forwards;
  }
  .wrapMob {
    display: flex;
    align-items: center;
    color: var(--text-color);
    height: 40px;
    font-size: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--main-color);
  }
  .navbarMob {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    gap: 0.2rem;
    justify-content: space-around;
  }
  .navbarMob a {
    color: var(--text-color);
    font-size: 0.8rem;
  }
  .navbarMob a:hover {
    background: var(--main-color);
    color: var(--second-color);
  }
}

@media screen and (max-width: 768px) {
  .experience-item-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    row-gap: 0.9rem;
  }
  .experience-item {
    width: 100%;
  }
  .home {
    justify-content: center;
  }

  .feature-inner h3 {
    font-size: 1.1rem;
    color: var(--color-white);
  }
}

@media screen and (max-width: 576px) {
  .experience-item-container {
    grid-template-columns: repeat(2, minmax(70%, 1fr));
    row-gap: 0.9rem;
  }
  .experience-item {
    width: 240px;
  }
  .home {
    display: flex;
    justify-content: center;
  }

  .feature {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 1rem;
  }
  .feature-inner h3 {
    font-size: 0.7rem;
    color: var(--color-white);
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250 * 10);
}

.slider .slide {
  height: 100px;
  width: 250px;
  margin: 0 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 14));
  }
}
.slider .slide img {
  object-fit: contain;
}
